<div class="main">
  <div class="main__solo-product-container">
    <div class="solo-product">
      <div class="solo-product__info">
        <div class="solo-product__img-container">
          <img src="{{imageUrl}}" alt="{{name}}">
        </div>
        <p class="solo-product__name">{{name}}</p>
        <p class="solo-product__price">{{price}}</p>
        <p class="solo-product__description">{{description}}</p>
      </div>
    </div>
    <div class="section-card">
      <div class="section-card__header">
        <h2 class="section-card__title">
          Productos relacionados
        </h2>
      </div>
      <div class="section-card__cards-container" data-category="{{category}}">
      </div>
    </div>
  </div>
</div>